.block-content {
  text-align: left;
  color: #000;
  padding: 2px 5px;
  font-size: 10px;
  pointer-events: none;
}
.block-content .number {
  font-size: 13px;
}
.block-content .hexColor {
  display: flex;
  padding-top: 5px;
}
.block-content .hexColor .label {
  padding-right: 5px;
}
.block-content .hexColor .hexColorBox {
  width: 10px;
  height: 10px;
  display: block;
}

.tx-content {
  text-align: left;
  background: #000;
  color: white;
  padding: 2px 5px 3px;
  font-size: 10px;
  pointer-events: none;
  /* transform: scale(0.5); */
}

.tx-content .hexColor {
  display: flex;
  padding-top: 5px;
}

.tx-content .hexColor .label {
  padding-right: 5px;
}

.tx-content .hexColor .hexColorBox {
  width: 10px;
  height: 10px;
  display: block;
}