.title {
  font-family: 'Staatliches', cursive;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  padding: 7px;
  color: #fff;
}

.title .version {
  font-size: 13px;
  padding-left: 10px;
}

.title .desc {
  font-size: 12px;
  padding: 10px 0 0 0;
}

.block-content {
  text-align: left;
  color: #000;
  padding: 2px 5px;
  font-size: 10px;
  pointer-events: none;
}
.block-content .number {
  font-size: 13px;
}
.block-content .hexColor {
  display: flex;
  padding-top: 5px;
}
.block-content .hexColor .label {
  padding-right: 5px;
}
.block-content .hexColor .hexColorBox {
  width: 10px;
  height: 10px;
  display: block;
}

.tx-content {
  text-align: left;
  background: #000;
  color: white;
  padding: 2px 5px 3px;
  font-size: 10px;
  pointer-events: none;
  /* transform: scale(0.5); */
}

.tx-content .hexColor {
  display: flex;
  padding-top: 5px;
}

.tx-content .hexColor .label {
  padding-right: 5px;
}

.tx-content .hexColor .hexColorBox {
  width: 10px;
  height: 10px;
  display: block;
}